<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <span><h2>Contact : </h2></span> <span><p>rishu04072001@gmail.com</p></span>
        <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>